#calenderField {
  label {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 15px;
  }
  input[type='date'] {
    position: relative;
    padding: 0 10px;
    width: 200px;
    height: 40px;
    border: 0;
    background: transparent;
    box-sizing: border-box;
  }

  input[type='date']::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type='date']::-webkit-clear-button {
    -webkit-appearance: none;
  }
}

#fileNum {
  width: 250px;
  height: 40px;
  margin: 0 1rem;
}
